# MySql 5.6.29

[client]
port                    = 3306
socket                  = /var/run/mysqld/mysqld.sock
default-character-set	= utf8


[mysqld]
user        = mysql
pid-file    = /var/run/mysqld/mysqld.pid
socket      = /var/run/mysqld/mysqld.sock
port        = 3306
basedir     = /usr
datadir     = /data/mysql/db/
tmpdir      = /tmp
#-------

# 字符集
character-set-server	= utf8
init_connect			= 'SET NAMES utf8'
#-------

lc-messages-dir     = /usr/share/mysql
bind-address        = 0.0.0.0
# 索引缓存区大小,物理内存的30-40%
key_buffer_size     = 16M

# 最大包大小,包大于该值会造成写入失败
max_allowed_packet  = 16M

# 每个线程占用的内存大小(一般不用修改)
thread_stack        = 192K

# 缓存的最大线程数,一般关系为:内存 --> 线程数 (1G --> 8, 2G --> 16, 3G --> 32, >3G --> 64)
thread_cache_size   = 8

# 自动修复myisam表,[{DEFAULT : 不做任何操作}, {BACKUP : 在恢复过程中,数据文件被更改了,将 tbl_name.MYD 备份为 tbl_name-datetime.BAK}, {FORCE : 即使.MYD文件将丢掉多个行也进行恢复}, {QUICK : 如果没有删除块,不检查表中的行} ]
myisam-recover      = BACKUP,FORCE

# 查询缓存限制,只有1M以下查询结果才会被缓存,避免缓存池被覆盖
query_cache_limit   = 1M

# 缓冲区大小,用于缓存SELECT查询结果,下次有同样的SELECT直接从缓存池返回结果
query_cache_size    = 16M

# 多服务器注释外部锁定,单服务器取消注释(注释为打开,取消只是为关闭)
skip-external-locking
#-------

# 索引和数据缓冲区大小,一般为物理内存的60%-70%
innodb_buffer_pool_size         = 4G

# 日志缓冲区大小,一般日志最长每秒刷新一次,所以一般不用超过16M
innodb_log_buffer_size          = 16M

# 同时处理最大连接数,设置为上限连接数的80%左右
max_connections                 = 1024

# 目录信息和内部数据结构的缓冲区大小,一般设置为>2M, 如果不够日志会有报警信息
innodb_additional_mem_pool_size = 4MB

# 0 : 表示每秒写入日志并同步到磁盘,数据库故障会丢失1s左右的数据.
# 1 : 表示每执行一条SQL语句就写入日志并同步到磁盘,I/O开销大,效率低.
# 2 : 表示把日志写入到系统缓冲区然后每秒同步到磁盘,效率高,服务器故障才会丢失事务数据.对数据安全性要求不是很高的推荐设置
innodb_flush_log_at_trx_commit  = 2

# 表缓存
table_open_cache                = 2048

# 跳过DNS域名解析
skip_name_resolve
#-------

log_error                       = /var/log/mysql/error.log
server-id                       = 100
log_bin                         = /data/mysql/binlog/mysql-bin.log
expire_logs_days                = 1
max_binlog_size                 = 500M

# 独立表空间
innodb_file_per_table           = 1

# 开启没有生命timestamp列为null或者default则自动分配'0000-00-00 00:00:00'
explicit_defaults_for_timestamp = true 

# 将从服务器从主服务器收到的更新记入到从服务器自己的二进制日志文件中
log_slave_updates               = 1

#文件打开数
# innodb_open_files       	= 65535
# open_files_limit        	= 200000
#-------

#多主同步
# 自增字段从数字几开始
# auto-increment-offset         = 1

# 每次自增多少(每次自增多少)
# auto-increment-increment      = 2


[mysqldump]
quick
quote-names
# 和mysqld同步
max_allowed_packet		= 16M


[mysql]
default-character-set	= utf8


[isamchk]
key_buffer  = 16M
!includedir /etc/mysql/conf.d/


[mysqld_safe]
socket      = /var/run/mysqld/mysqld.sock
nice        = 0

